
/* mise en page du titre de la page  */
h1{
    color:rgb(238, 119, 22);
    text-align: center;
    font-size: 80 ;
    text-shadow: 2px 2px rgba(238, 119, 22, 0.678);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* mise en page du fond de page */
body{
    background-color: rgb(255, 245, 231); 
}

/* mise en page pour l'option de connexion */
.fondconnexion{
    background-color:  rgb(237, 217, 189);
    text-align: center;
    width: 90%;
    height: 120%;
}

/* decoration des lettres */
.decolettre{
    color : rgb(227, 154, 76);
    text-align: center;
    font-size: 35;
    text-shadow: 1px 1px rgb(130, 68, 10);
}

/* mise en page de la cellule avec les caracterisitiques */
.fondcara{
    text-align: left;
    background-color: rgb(237, 217, 189) ;
    width: 15%;
    font-size: large;
}

/* mise en page de la description du site */
.description{
    text-align: center;
    font-size: 20;
}

/* mise en page de la lettre sur la quelle on est sur la page de resultat */
.lettreclic{
    color: rgb(74, 25, 1);
}

/* mise en page du fond des sports correspondant à la recherche  */
.tabsport{
    border-color: rgb(0, 6, 6);
    border-style:groove;
    background-color: rgb(255, 173, 110);
    border-inline-style : none; 
}

.fondins{
    background-color: rgb(237, 217, 189) ;
}